<?xml version="1.0" encoding="utf-8"?>
<Workspace>
  <Variables>
    <Variable>
      <Name>a</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>command</Name>
      <Value>"None"</Value>
    </Variable>
    <Variable>
      <Name>end</Name>
      <Value>0</Value>
    </Variable>
    <Variable>
      <Name>new_command</Name>
      <Value>0</Value>
    </Variable>
    <Variable>
      <Name>test</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>cmd_name</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>asp_plate</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>asp_row</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>asp_col</Name>
      <Value>0</Value>
    </Variable>
    <Variable>
      <Name>asp_offset_x</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>asp_offset_y</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>asp_offset_z</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>asp_data</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>tip_box</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>disp_plate</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>disp_data</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>worktable_filename</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>start_method</Name>
      <Value>0</Value>
    </Variable>
    <Variable>
      <Name>asp_column</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>disp_offset_x</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>disp_offset_y</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>disp_offset_z</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>disp_column</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>disp_row</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_move_location</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_move_x_offset</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_move_y_offset</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_move_side</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_move_to_plate</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_move_plate_source</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_move_plate_destination</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_move_plate_offset_x</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_move_plate_offset_y</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_move_plate_offset_z</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_open_position</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_close_position</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_force</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_trigger_percent</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_force_percent</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_get_plate</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_get_plate_offet_x</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_put_plate</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>asp_384SV_vol</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>asp_384SV_airgap</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>asp_384SV_post_airgap</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>asp_384SV_pre_airgap</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>disp_vol</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>disp_airgap</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>tip_box_row</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>tip_box_column</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>load_tip_force</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>eject_tip_offset_z</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>load_tip_offset_z</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>mix_plate</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>mix_col</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>mix_row</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>mix_cycles</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>mix_blowout</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>mix_offset_x</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>mix_offset_z</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>mix_offset_y</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>mix_vvp_data</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_move_plate_column</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_move_plate_row</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_move_plate_z</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>gripper_move_plate_y</Name>
      <Value />
    </Variable>
    <Variable>
      <Name>go_to_step</Name>
      <Value>2</Value>
    </Variable>
    <Variable>
      <Name>cmd_key</Name>
      <Value />
    </Variable>
  </Variables>
</Workspace>